@model SchoolManagement.Core.Entites.Models.Student



<div class="container mt-5">
    @if (ViewBag.HasFailed != null && (bool)ViewBag.HasFailed)
    {
        <div class="alert alert-danger">
            The student has failed one or more SA2 subjects and cannot be promoted.
        </div>
    }

    <h2>Promote Student</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    <form asp-action="PromoteStudent" method="post">
        <input type="hidden" name="studentId" value="@Model.Id" />

        <div class="form-group">
            <label>Student Name:</label>
            <input type="text" value="@Model.FirstName" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label>Student Current Class</label>
            <input value="@ViewBag.StudentCurrentClass" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label>Select New Class:</label>
            <select name="newClassId" class="form-control"
            @(ViewBag.HasFailed != null && (bool)ViewBag.HasFailed ? "disabled" : "")>
                @foreach (var cls in ViewBag.ClassList)
                {
                    <option value="@cls.Value">@cls.Text</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary"
        @(ViewBag.HasFailed != null && (bool)ViewBag.HasFailed ? "disabled" : "")>
            Promote
        </button>
        <a class="btn btn-outline-secondary" asp-action="StudentList">Back To List</a>
    </form>
</div>
